<p id="notice"><%= notice %></p>

<h1>Listing Homes</h1>

<table>
  <tbody>
    <tr>
      <thead>
        <td></td>
        <td>Provider Name</td>
        <td>Overall Rating</td>
        <td>Relative score</td>
        <td> Occupancy </td>
        <td>Address</td>
        <td>City</td>
        <td> Zipcode </td>

      </thead>
    </tr>
    <% @homes.each do |home| %>
      <tr>
        <td>
          <%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=120x120&location=#{home['location']['coordinates'][1]},#{home['location']['coordinates'][0]}&fov=90&pitch=5&
          key=AIzaSyCXRKnlZV2d4CcJjW6PmKqCmLW5netbodo") %>
        </td>
        <td><%= link_to home["provider_name"], home_path(id: home['federal_provider_number'])%>
        </td>
        <td><%= home["qm_rating"] %></td>
        <td><%= Home.tier(@average_rating, @standard_deviation, home) %></td>
        <td><%= home['number_of_residents_in_certified_beds'] %> / <%= home['number_of_certified_beds'] %></td>
        <td> <%= home['location_address'] %> </td>
        <td><%= home["location_city"] %>, <%= home["location_state"] %></td>
        <td><%= home["provider_zip_code"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
