<%= form_for(@query) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %><br>
    <%= f.label :desired_distance %><br>
    <%= f.select(:desired_distance, [5, 10, 15, 25, 50]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
